/* Variables */
/*aplico los colores del mapa en card.scss*/
.card h5 {
  font-family: Arial, Helvetica, sans-serif;
}
.card p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contenido {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  width: 100%;
  padding: 4rem;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1000px;
  position: relative;
  top: 10px;
}

.contenido {
  background-color: #fff;
  padding: 15px;
  position: relative;
  z-index: 2;
  border-radius: 8px;
  box-shadow: 1px 1px 15px 0px #000;
  margin: auto;
}

/*Aqui aplico colores con un mapa*/
.texto-blanco {
  color: #fff;
}

.texto-azul {
  color: rgb(0, 43, 69);
}

/* aplico mixins en las tarjetas */
.card-1 {
  background: rgb(0, 43, 69);
  color: #fff;
  /*border-radius: 4px;
  padding: 30px 15px;*/
  border-radius: 4px;
  padding: 30px 15px;
}

.card-2 {
  background: #fff;
  /*border-radius: 4px;
  padding: 30px 15px;*/
  border-radius: 4px;
  padding: 30px 15px;
}

.card-3 {
  background: rgb(227, 233, 233);
  /*border-radius: 4px;
  padding: 30px 15px;*/
  border-radius: 4px;
  padding: 30px 15px;
}

.card-4 {
  background: rgb(245, 13, 73);
  /*border-radius: 4px;
  padding: 30px 15px;*/
  border-radius: 4px;
  padding: 30px 15px;
}

.svg {
  position: relative;
  left: 90%;
}

.card {
  width: 100%;
  height: auto;
}

.card {
  transition: 0.4s;
  object-fit: cover;
}

.card:hover {
  transform: scale(1.1);
}

.carousel {
  position: relative;
  z-index: 0;
}

.titulos-carousel {
  color: #fff;
  position: relative;
  bottom: 30vh;
  font-size: 2em;
  z-index: 5;
}

.subtitulos-carousel {
  color: #fff;
  position: relative;
  bottom: 30vh;
  font-size: 1rem;
  z-index: 5;
}

.titulos {
  display: flex;
  justify-content: center;
}

.contenedor-boton {
  display: flex;
  justify-content: center;
}

.boton {
  position: absolute;
  bottom: 25vh;
}

.botones {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  position: relative;
  top: 30vh;
}

.phone {
  position: relative;
  left: 10vw;
}

.links {
  /* color: $color-secundario;*/
  /* reemplazo lpor un mixin*/
  color: rgb(0, 43, 69);
}

.usuario {
  text-decoration: none;
  /* color: $color-secundario;*/
  /* reemplazo lpor un mixin*/
  color: rgb(0, 43, 69);
}

.defensa {
  color: gray;
}

.reclamos {
  /* color: $color-secundario;*/
  /* reemplazo lpor un mixin*/
  color: rgb(0, 43, 69);
}

.foot {
  text-decoration: none;
  color: #fff;
  padding-left: 30px;
}

.grupo-santander {
  width: 200px;
  height: auto;
}

.santander {
  background: rgb(0, 43, 69);
}

.logo {
  padding-left: 30px;
}

.footer {
  display: inline;
  justify-content: space-between;
  padding-left: 30px;
  padding-top: 15px;
}

.copyright {
  margin-top: 2rem;
  /*aplico un extend*/
}

.copyright1, .copyright {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 15px;
  background-color: rgb(227, 233, 233);
  color: rgb(0, 43, 69);
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.btn-outline-custom {
  color: rgb(0, 43, 69);
  background-color: rgb(0, 43, 69);
  border-color: rgb(0, 43, 69);
}

.redes {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 10px;
  padding-top: 20px;
  margin-top: 3rem;
  background-color: rgb(227, 233, 233);
  color: rgb(0, 43, 69);
}

.card-link {
  margin: 0 0 0 20px;
  padding: 0 5px 0 5px;
}

.webs {
  width: 100%;
  height: auto;
}

.webs {
  transition: 0.2s;
  object-fit: cover;
}

.webs:hover {
  transform: scale(1.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
}

/*# sourceMappingURL=styles.css.map */
