@use 'anidacion';


// Variables
$color-principal: #fff;
$color-secundario: rgb(0, 43, 69);
$color-terciario: rgb(245, 13, 73);
$color-gris: rgb(227, 233, 233);
$color-letra: black;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $color-principal;
}


//NAVBAR

.navbar {
    z-index: 1;
}

// Carousel

.carousel {
    position: relative;
    z-index: 0;
}

.titulos-carousel {
    color: #fff;
    position: relative;
    bottom: 30vh;
    font-size: 2em;
    z-index: 5;
}

.subtitulos-carousel {
    color: #fff;
    position: relative;
    bottom: 30vh;
    font-size: 1rem;
    z-index: 5;
}

.titulos {
    display: flex;
    justify-content: center;
}



.contenedor-boton {
    display: flex;
    justify-content: center;
}

.boton {
    position: absolute;
    bottom: 25vh;
}


// Cards

.contenido {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    width: 100%;
    padding: 4rem;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1000px;
    position: relative;
    top: 10px;
}


.contenido {
    background-color: #fff;
    padding: 15px;
    position: relative;
    z-index: 2;
    border-radius: 8px;
    box-shadow:  1px 1px 15px 0px #000;
    margin: auto;
}




.texto-blanco {
    color: #fff; 
}

.texto-azul {
    color: $color-secundario;
}


.card-1 {
    background: $color-secundario;
    color: #fff;
    border-radius: 4px;
    padding: 30px 15px;
}

.card-3 {
    background-color: $color-gris;
    border-radius: 4px;
    padding: 30px 15px;
}
.card-4 {
    background-color: $color-terciario;
    border-radius: 4px;
    padding: 30px 15px;
}

.svg {
    position: relative;
    left: 90%;
}

// ANIMATION CARDS
  
.card{
      width: 100%;
      height: auto;
  }
 
.card {
   transition: 0.4s;
   object-fit: cover;
  }
 
.card:hover {
   transform: scale(1.1);
  }




// Esto no es el footer, pero ahora si lo parece.


.redes {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px;
    margin-top: 3rem;
    background-color: $color-gris;
    color: $color-secundario;
}

.card-link {
    margin: 0 0 0 20px;
    padding: 0 5px 0 5px;
}


.botones {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    position: relative;
    top: 30vh;
}


.phone {
    position: relative;
    left: 10vw;
}


.links {
    color: $color-secundario;
}



.usuario {
    text-decoration: none;
    color: $color-secundario;
}


.foot {
    text-decoration: none;
    color: $color-principal;
    padding-left: 30px;
}

.grupo-santander {
    width: 200px;
    height: auto;
}


.santander {
    background: $color-secundario;
}

.logo {
    padding-left: 30px;
}

.footer {
    display: inline;
    justify-content: space-between;
    padding-left: 30px;
    padding-top: 15px;
}

.copyright {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 15px;
    background-color: $color-gris;
    color: $color-secundario;
}




//Mixins


@mixin caja_personalizada($fondo: white, $color: $color-letra) {
    background-color: $fondo;
    border: 4px solid black;
    box-shadow: 0px 0px 2px black;
    color: $color;
    margin: 20px;
}

